<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.7.1.js" crossorigin="anonymous"></script>
    <script src="/javascripts/alertifyjs/alertify.min.js"></script>
    <link rel="stylesheet" href="/javascripts/alertifyjs/css/alertify.min.css">
    <link rel="stylesheet" href="/javascripts/alertifyjs/css/themes/default.min.css">
    <script src="/javascripts//md5-min.js"></script>

   
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_map.css" />
    <script type="module" src="/javascripts/mapGoogle.js"></script> 
    <script src="/javascripts/alertas.js"></script>
    <script src="/javascripts/funciones.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/styleMenu.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.horizontalmenu.css' />
    <link href="/stylesheets/icon.css?family=Material+Icons" rel="stylesheet">

    <script src="/javascripts/jquery.horizontalmenu.js"></script>

    <script src="./javascripts/uoload/file-upload.js"></script>
    <link rel="stylesheet" href="./javascripts/uoload/file-upload.css">

    <link rel="stylesheet" href="./javascripts/forms/styleNew.css">
    <script src="/javascripts/secciones.js"></script>
    <script src='./javascripts/forms/nuevoCliente.js' ></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  
  </head>
  <body>
    <div class="fondo"></div>
    <div class="content"></div>
    <form id="loginForm"></form>
    
   
  </body>
</html>